@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.d-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

::selection {
  background-color: #98ccd3;
}
